<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА №3</title>
</head>
<body>
<div th:each="el : ${specs}">
  <form method="post">
    <input type="text" th:value="${el.getCPU()}" name="CPU" placeholder="Модель процессора">
    <br><br>
    <input type="number" th:value="${el.getRAM()}" name="RAM" placeholder="Количество оперативной памяти">
    <br><br>
    <input type="number" th:value="${el.getMemorySize()}" name="MemorySize" placeholder="Свободное место на диске">
    <br><br>
    <input type="text" th:value="${el.getGPU()}" name="GPU" placeholder="Модель видеокарты">
    <br><br>
    <input type="text" th:value="${el.getOS()}" name="OS" placeholder="Операционная система">
    <br><br>
    <button type="submit"> Изменить тех. требование</button>
  </form>
</div>
</body>
</html>